

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
}


.debug .container{
   background-color: gray;
}

.debug .colonna{
   background-color: aqua;
   min-height: 500px;
}


.container{
   max-width: 1280px;
   margin: 0px auto;
}

img{
   display: block;
}

h5{
   font-weight: 400;
}

h3{
   text-transform: uppercase;
   font-weight: bold;
}

.tiga{
   margin: 10px 0px 10px 0px;
}

.riga.clearfix::after{
   content: "";
   display: table;
   clear: both;
}

.colonna{
   width: calc(100%/3 - 8px);
   float: left;
   margin: 10px 4px 10px 4px;
}

.pic-in-col{
   position: relative;
}

.pic-in-col > img{
   width: 100%;
}

.like{
   background-color: white;
   width: 50px;
   height: 50px;
   font-size: 30px;
   text-align: center;
   line-height: 50px;
   position: absolute;
   top: 20px;
   left: calc(100% - 50px);
}

.cover{
   position: absolute;
   bottom: 20px;
   left: 0px;

}

.tag{
   display: inline-block;
   color: white;
   font-size: 16px;
   font-weight: bold;
   padding: 6px;
}

.tag-sconto{
   background-color: #eb0037;
}

.tag-eco{
   background-color: #00875a;
}

.prezzo{
   color: red;
   font-weight: bold;
}
.prezzo > span{
   font-weight: 400;
   text-decoration: line-through;
   color: black;
   
}

/*------------------------------------
   /Structure of a box that repeats
-------------------------------------*/


/*-------------- 
   Animation 
----------------*/

.ombra{
   display: none;
}

.pic-in-col:hover img{
   display: none;
}

.pic-in-col:hover .fade{
   display: block;
}

.pic-in-col:hover .like{
   color: red;
}